/* ------------------------------------------------------------------------------------------ */
/* start of styling for app.js */
.app {
    background-color: white;
    text-align: center;
}

.search-bar {
    color: black;
    max-width: 90%;
    max-length: 100%;
    margin: 20px auto;
}
/* end of styling for app.js */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* start of styling for current-weather.js */
.weather {
  width: 800px;
  color: white;
  background-color: grey;
  margin: 10px auto 0 auto;
  padding: 0 50px 50px 50px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.main-description,
.rest-of-the-descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}


.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.label {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
}

.value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

/* end of styling for current-weather.js */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* start of styling for forecast.js */


.daily-item {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
/* end of styling for forecast.js */
/* ------------------------------------------------------------------------------------------ */